<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>鲜花详情</title>
    <link rel="stylesheet" href="">
    <link href="../src/public/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../src/public/css/font/iconfont.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../src/public/css/flowerPar.css">
</head>
<body>
<!--猜你喜欢的ejs内容-->
<%- include("flowerParMenu.ejs") %>



<script src="../src/public/JavaScript/jquery-3.2.1.js"></script>
<script src="../src/public/bootstrap/js/bootstrap.js"></script>
<script src="../src/public/JavaScript/js.js"></script>
</body>
</html>